﻿<div class="pt-3">
  <div class="mr-3">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">
            <ng-color-circle [(ngModel)]="color" (ngModelChange)="colorChange($event)" style="width: 200px; height: 200px;"></ng-color-circle>
          </th>
          <th scope="col"><ngx-gauge
            type="arch" 
            [value]="page.data[0].temperature" 
            [min]="0"
            [max]="100"
            label="Temperature"  
            append="°C">
        </ngx-gauge></th>
          <th scope="col"><ngx-gauge
            type="arch" 
            [value]="page.data[0].humidity" 
            [min]="0"
            [max]="100"
            label="Humidity"  
            append="%">
        </ngx-gauge></th>
        </tr>
      </thead>
    </table>
    </div>
  <div class="ml-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Temperatura</th>
          <th scope="col">Humedad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page.data">
          <td class=" justify-content-center"> {{item.timestamp}}</td>
          <td class=" justify-content-center"> {{item.temperature}} °C</td>
          <td class=" justify-content-center"> {{item.humidity}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>